%nav.top-bar{ 'data-topbar' => true, role: 'navigation' }
  %ul.title-area
    %li.name
      %h1
        %a HackerNews: Who is hiring?

.row
  .search-region.large-12.columns

.row
  .posts-region.large-2.columns
  .jobs-region.large-10.columns